.home-card {
  display: flex;
  height: auto;
  font-size: 1.6rem;
  margin: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.7rem;
  transition: all 0.1s ease-in;
  cursor: pointer;
}
.home-card:hover {
  transform: scale(1.03);
}
.home-card:active {
  transform: scale(1.01);
  box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.068);
}
.home-card__thumbnail {
  display: flex;
}
.home-card__thumbnail img {
  width: 18rem;
  border-radius: 0.7rem;
}
.home-card__writeup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.rating {
  margin-top: 1.5rem;
}
.writeup__summary {
  margin-top: 2rem;
}
.writeup__price {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.new-cost {
  font-weight: 600;
  font-size: 1.8rem;
}
.old-cost {
  text-decoration: line-through;
  margin-left: 1rem;
}
.writeup__button {
  text-align: center;
  margin-top: 2.5rem;
  background-color: #777;
  padding: 1rem;
  width: 20rem;
  cursor: pointer;
}
