.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.cart-item__thumbnail img {
  width: 10rem;
  border-radius: 0.7rem;
}
.cart-item__summary {
  display: flex;
}
.cart-item__summary-header {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.cart-item__heading {
  font-size: 2rem;
}
.cart-item__summary-header > p {
  font-weight: 500;
}
.cart-item__price {
  margin-top: 1rem;
}
.cart-item__delete-btn {
  margin-left: 4rem;
  color: rgb(99, 4, 4);
  cursor: pointer;
}
